<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864378831475-17csjcjc0lv1gcv7ahpbvagudgkvtgdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864378831475-17csjcjc0lv1gcv7ahpbvagudgkvtgdp</string>
	<key>API_KEY</key>
	<string>AIzaSyA64Ynd2yIvxxB2R2JbRwEnVdgw5m44Cj0</string>
	<key>GCM_SENDER_ID</key>
	<string>864378831475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wlotim</string>
	<key>PROJECT_ID</key>
	<string>wlotim</string>
	<key>STORAGE_BUCKET</key>
	<string>wlotim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864378831475:ios:d8239caf9447756ca16006</string>
</dict>
</plist>